{{~#with song~}}
  {{~#if title~}}
    <h1>{{~title~}}</h1>
  {{~/if~}}

  {{~#if subtitle~}}
    <h2>{{~subtitle~}}</h2>
  {{~/if~}}

  <div class="chord-sheet">
    {{~#each bodyParagraphs as |paragraph|~}}
      <div class="{{paragraphClasses paragraph}}">
        {{~#each lines as |line|~}}
          {{~#if (shouldRenderLine line)~}}
            <div class="{{lineClasses line}}">
              {{~#each items as |item|~}}
                {{~#if (isChordLyricsPair item)~}}
                  <div class="column"><div class="chord">{{renderChord chords line.key @root.song.key line.transposeKey}}</div><div class="lyrics">{{lyrics}}</div></div>
                {{~/if~}}

                {{~#if (isTag item)~}}
                  {{~#if (isComment item)~}}
                    <div class="comment">{{value}}</div>
                  {{~/if~}}
                {{~/if~}}

                {{~#if (isEvaluatable item)~}}
                  <div class="column"><div class="chord"></div><div class="lyrics">{{evaluate item @root.song/metadata}}</div></div>
                {{~/if~}}
              {{~/each~}}
            </div>
          {{~/if~}}
        {{~/each~}}
      </div>
    {{~/each~}}
  </div>
{{~/with~}}
